{
    email drobin.me@yandex.ru
    admin 127.0.0.1:2019
    log default {
        output stdout
        format json
        level INFO
    }
    storage file_system {
        root /data
    }
    servers {
        protocols h1 h2 h3
        timeouts {
            read_header 10s
            read 30s
            write 30s
            idle 120s
        }
    }
}

import /etc/caddy/conf.d/*.caddy
