<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "LodgingBusiness",
    "name": "{{ request.settings.brand_name }}",
    "description": "{% if request.settings.address %}{{ request.settings.address }}{% else %}Загородный отдых{% endif %}",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Москва",
        "addressCountry": "RU"
    },
    "telephone": "{% if request.settings.phone %}{{ request.settings.phone }}{% endif %}",
    "url": "https://dacha.maxdrobin.ru"
}
</script>
